$font-stack: Helvetica, sans-serif;
$primary-color: #444;
$background-color: #f8f8f8;
$border-color-1: #e7e7e7;

*{
  font-family: $font-stack, sans-serif;
}

body {
  // font: 90% $font-stack;
  // color: $primary-color;
}

/*
  Shared
*/

.no-padding{
  padding: 0px;
}

// Rounded toggle switch
.switch {
  vertical-align: middle;

  &-title {
    vertical-align: middle;
    display: inline-block;
    color: gray;
    margin-top: 12px;
  }

  &-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    &-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      &.round {
        border-radius: 34px;

        &:before {
          border-radius: 50%;
        }
      }
    }
  }

  .switch-toggle-check:checked + .switch-toggle-slider {
    background-color: #2196F3;
  }

  .switch-toggle-check:focus + .switch-toggle-slider {
    box-shadow: 0 0 1px #2196F3;
  }

  .switch-toggle-check:checked + .switch-toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

}


/*
  Login control
*/

.login-control {
  color: #777;
}

.login-control a{
  cursor: pointer;
  color: #777;
}

/*loading animation*/
.loginLoading{
  position: absolute;
  right: 0px;
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 10px; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    authTyping 2s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}

/*
  Nav Bar
*/

.navbar-default .navbar-nav>li>a {
  &.activeState {
    color: white;
    background: #337ab7;
  }
}

.navbar-default {
  border: none;
}

.margin-top-bottom {
  margin: 20px 0px;
}

.margin-sides {
  margin: 0px 20px;
}

.all-margins {
  margin: 20px;
}

/*
  Inventory List
*/

.inventory {
  &-list {
    font-size: 18px;
  }

  &-checker {
    &-title {
      border-bottom: 1px solid $primary-color;
      text-align: left;
      margin-top: 50px;
    }
  }

  &-accessory {
    &-filter {
      &-container {
        margin: 20px auto;
      }
    }
  }
}

/*
  Inventory Scanner
*/

.inventory-scanner {
  max-width: 600px;

  &-main-input {
    max-width: 300px;
    font-size: 35px;
    padding: 5px;
    margin: 20px auto 5px auto;
    height: auto;
    text-align: center;
  }

  &-titles {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }

  &-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f8f8f8;
    padding: 20px;
    margin-top: 20px;

    h3 {
      margin-top: 0;
    }

    ul {
      padding-inline-start: 0;
    }

    li {
      list-style-type: none;
    }
  }

  &-buttons {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 10px;
  }
}

// .barcode-input{
//   font-size: 35px;
//   color: white;
//   background-color: black;
//   border: 1px solid #00FFFF;
//   border-radius: 10px;
//   text-align: center;
//   max-width: 300px;
// }

// .barcode-input:focus{
//   outline-width: 0;
// }

/*
  Generate Barcode
*/

.generate-barcode {
  .main-section {
    padding: 20px;
    border: 1px solid #555555;
    margin: 40px 0;
    border-radius: 10px;
  }

  .form-control {
    font-size: 25px;
    height: 54px;
  }

  &-how-many {
    margin-top: 30px;

    h4 {
      display: inline-block;
    }

    input {
      display: inline-block;
      max-width: 100px;
    }
  }

  table {
    font-size: 20px;
    margin-top: 20px;
  }

  .btn-success {
    font-size: 30px;
  }
}

/*
  Loaner Inventory
*/

.loaner-inventory {
  &-filters {
    select {
      display: inline-block;
      width: 150px;
    }
  }

  &-thumbnails {
    background: $background-color;
    border: 1px solid $border-color-1;
    border-radius: 10px;
  }
}