<div class="container generate-barcode">
  <div class="row text-center">
    <h2> Generate Barcode </h2>
  </div>
  <div class="row text-center">
    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="col-xs-12 main-section">
        <div class="col-sm-6">
          <h3>
            Unit Type
          </h3>
          <div class="col-xs-12">
            <select class="form-control" name="unitSelect" value="test" ng-model="chosenItems.unitSelect" ng-options="x for x in products" ng-change="update()"> </select>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <h3>
            Serial Number
          </h3>
          <div class="col-xs-12">
            <input id="serialEntry" class="form-control" ng-enter="addBarcode(chosenItems.unitSelect, chosenItems.serialNum, chosenItems.numItems)" ng-model="chosenItems.serialNum" />
          </div>
        </div>
        <div class="col-xs-12" ng-if="showHowMany(chosenItems)">
          <div class="generate-barcode-how-many">
            <h4>How Many?</h4>
            <input class="form-control" ng-model="chosenItems.numItems" ng-enter="addBarcode(chosenItems.unitSelect, chosenItems.serialNum, chosenItems.numItems)">
          </div>
        </div>
      </div>
      <div class="col-xs-12 text-center">
        <button class="btn btn-primary btn-lg" ng-click="addBarcode(chosenItems.unitSelect, chosenItems.serialNum, chosenItems.numItems)"> Add to List </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12" ng-show="barcodes.length">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Unit</th>
            <th>Serial</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in barcodes">
            <td>{{item.unit}}</td>
            <td>{{item.num}} </td>
            <td><button class="btn btn-danger" ng-click="removeItem(item)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12 text-center" ng-show="barcodes.length">
      <a ng-click="removeAll()">Remove all items</a>
    </div>
  </div>
  <div class="row text-center btn-container">
      <a ng-show="barcodes.length" class="btn btn-success btn-lg"  ui-sref="generated({obj: barcodes})" target="_blank">Generate Barcodes</a>
  </div>
</div>
