<div id="checkInOut" class="container text-center" >

  <div class="row text-center">
    <h2 class="checkTitle"> Inventory Check In/Out </h2>
    <a class="loginButton" ng-click="loginWithGoogle()" ng-show="!authenticated && !authenticating"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
    <div class="loginLoading" ng-show="authenticating">
      Authenticating...
    </div>
    <a class="loginButton" ng-click="logoutWithGoogle()" ng-show="authenticated">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
    <h3 class="checkSubTitle"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i> Click inside black box then scan barcode <i class="fa fa-long-arrow-down" aria-hidden="true"></i></h3>
  </div>

  <div class="row text-center" ng-show="!loaded">
    <img src="../assets/Rolling.svg" alt="">
    <div class="text-center">
      <div class="loading">
        Loading...
      </div>
    </div>
  </div>

  <div class="row text-center" ng-show="loaded">
    <input id="scanInput" class="barcode-input" ng-model="barcodeRead.barcodeNum" ng-model-options="{debounce : 300} " autofocus/>
  </div>

  <div class="row text-left listHeaders" ng-show="loaded && barcodeEntered && ((pendingBarcodes | json) != '{}')">
    # of Scanned Units: {{numPending}} <a href="" ng-click="removeAllUnits()" style="float: right; color: red;">Clear All</a>
  </div>

  <div class="row" ng-show="loaded">
    <div class="col-xs-12 unit-container no-padding" ng-repeat="unit in pendingBarcodes">
      <span class="removeTest" ng-click="remove(unit)" ng-if="unit.status !== 'Checked In' && unit.status !== 'Checked Out'"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
      <div class="col-xs-12 pendingItems no-padding">
        <div class="col-xs-6 pendingCode">
          {{unit.barcode}}
        </div>
        <div class="col-xs-6 pendingStatus" ng-class="unit.status">
          {{unit.status}}
        </div>
        <div class="col-xs-12 unitNotes" ng-if="unit.notes">
          QA Notes: {{unit.notes}}
        </div>
      </div>
      <div class="col-xs-12 no-padding bottomContainer" ng-if="unit.status !== 'Checked In' && unit.status !== 'Checked Out'">
        <div class="col-xs-6 no-padding text-center test" style="color: white;">
          <div ng-show="!unit.infoPulled && notMotor"> Not in database </div>
          <div ng-show="unit.infoPulled">
            <a style="color: white;" href="{{unit.fwLink}}" target="_blank">
              Firmware: <i class="fa fa-check-square" style="color: #00FF00" aria-hidden="true" ng-if="unit.latestMainFW"></i> <i ng-if="!unit.latestMainFW" style="color: #FF0000" class="fa fa-window-close" aria-hidden="true"></i>&nbsp;&nbsp;
              <span ng-show="unit.hasRadio">Radio: <i class="fa fa-check-square" style="color: #00FF00" aria-hidden="true" ng-if="unit.latestRadioFW"></i> <i ng-if="!unit.latestRadioFW" style="color: #FF0000" class="fa fa-window-close" aria-hidden="true"></i> </span>&nbsp;&nbsp;
              Mods: <i class="fa fa-check-square" style="color: #00FF00" aria-hidden="true" ng-if="unit.modsLatest"></i> <i ng-if="!unit.modsLatest" style="color: #FF0000" class="fa fa-window-close" aria-hidden="true"></i> &nbsp;&nbsp;
            </a>
          </div>
        </div>
        <div class="col-xs-6 text-center test2" ng-show="!unit.checkInClicked">
          <div class="col-xs-12 text-center no-padding">
            <div class="col-xs-12 checkOutTitle" ng-show="unit.status==='on shelf'"> Check Out</div>
            <button class="checkInBtn" ng-click="checkIn(unit)" ng-show="(unit.status==='checked out - purchase' || unit.status==='unchecked' || unit.status==='checked out - other')">Check In</button>
            <button class="checkOutOptions" ng-click="checkOut(unit, 'other')" ng-show="unit.status==='on shelf'">Other</button>
            <button class="checkOutOptions" ng-click="checkOut(unit, 'purchase')" ng-show="unit.status==='on shelf'">Purchase</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
