<div class="container-fluid text-center" style="margin-bottom: 50px;">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>
      Inventory List
    </h2>

    <div class="col-xs-12" ng-show="!model.loaded">
      <img src="../assets/loading.svg" alt="">
    </div>

    <!-- units tab -->
    <uib-tabset ng-if="model.loaded">
      <uib-tab heading="Units">

        <div class="col-xs-12 margin-top-bottom">
          <button ng-click="model.inventoryListView = true" class="btn btn-default" ng-class="{ 'btn-primary' : model.inventoryListView }"> Inventory List </button>
          <button ng-click="model.inventoryListView = false" class="btn btn-default" ng-class="{ 'btn-primary' : !model.inventoryListView }"> Inventory Check </button>
        </div>

        <!-- inventory list -->
        <div ng-show="model.inventoryListView" class="inventory-list">
          <div class="col-xs-12">
            <h4> Click on a unit below to see a list of individual units stored in the database </h4>
          </div>

          <!-- list of all units -->
          <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover" style="max-width: 600px; margin: 0 auto;">
              <thead>
                <tr>
                  <th class="text-center"> Unit </th>
                  <th class="text-center"> On Shelf </th>
                  <th class="text-center"> Checked Out - Other </th>
                  <th class="text-center"> In Stock? </th>
                  <th ng-if="adminLoggedIn">  Min Threshold </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(key, value) in model.productInventory.stock">
                  <th>
                    <a href="#listOfUnits" du-smooth-scroll ng-click="revealStoredUnits(key)"> {{ key | uppercase }} </a>
                  </th>
                  <td class="text-center"> {{ value.onShelf }} </td>
                  <td class="text-center"> {{ value.outOther }} </td>
                  <td>
                    <i ng-if="value.onShelf < model.minThresholdObject[key]" style="color: #E12222" class="fa fa-window-close"></i>
                    <i ng-if="value.onShelf >= model.minThresholdObject[key]" style="color: #09A932" class="fa fa-check-square"></i>
                  </td>
                  <td ng-if="adminLoggedIn && !model.stockEditable">{{ model.minThresholdObject[key] }}</td>
                  <td ng-if="adminLoggedIn && model.stockEditable">
                    <input style="max-width: 60px; color: black" ng-model="model.stockObject[key]" type="number" placeholder="{{model.stockObject[key]}}" ng-style="{color: (model.stockObject[key] == minThreshold[key]) ? 'black' : '#FF0000'}">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- list by unit type -->
          <div id="listOfUnits" class="col-xs-12 text-center" ng-if="model.showUnitTypeList">
            <h2> List of {{model.showUnitTypeList | uppercase}}s in database </h2>
            <div class="col-xs-12 margin-top-bottom">
              <div class="col-sm-6 col-sm-offset-3">
                <input type="text" class="form-control" placeholder="Search {{model.showUnitTypeList | uppercase}}s..." ng-model="model.searchUnit">
              </div>
              <div class="col-xs-12 margin-top-bottom">
                <input id="checkBox" type="checkbox" ng-model="model.showUnitsByType"><span> Show units older than 30 days old</span>
              </div>
            </div>

            <table class="table table-striped table-condensed" style="font-size: 15px;">
              <thead>
                <tr>
                  <th class="text-center">
                    <a ng-click="model.sortType = 'barcode'; model.sortReverse = !model.sortReverse">
                      Barcode
                      <span ng-show="model.sortType == 'barcode' && model.sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="model.sortType == 'barcode' && !model.sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="text-center">
                    <a ng-click="model.sortType = 'status'; model.sortReverse = !model.sortReverse">
                      Status
                      <span ng-show="model.sortType == 'status' && model.sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="model.sortType == 'status' && !model.sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="text-center">
                    <a ng-click="model.sortType = 'timestamp'; model.sortReverse = !model.sortReverse">
                      Last Scan
                      <span ng-show="model.sortType == 'timestamp' && model.sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="model.sortType == 'timestamp' && !model.sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="results" ng-repeat="key in model.productInventory.byUnit[model.showUnitTypeList] | orderBy:model.sortType:model.sortReverse | filter:model.searchUnit" ng-show="(key|filterOldies) || model.showUnitsByType">
                  <td class="text-center">
                    <a href="" ng-click="adminEditUnit(key)">{{ key.barcode }}</a>
                  </td>
                  <td class="text-center"> {{ key.status }} </td>
                  <td class="text-center"> {{ key.timestamp | date:'medium' }} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Inventory check -->
        <div ng-if="!model.inventoryListView">
          <div class="row" ng-repeat="(category, categoryUnits) in model.productInventory.byUnit">
            <div class="col-xs-12 inventory-checker-title">
              <h3> {{ category | uppercase }} </h3>
            </div>

            <div class="col-xs-3" ng-repeat="(key, value) in categoryUnits">
              {{ value.barcode }}
            </div>
          </div>
        </div>

      </uib-tab>

      <!-- cables tab -->
      <uib-tab heading="Cables">
        <div class="col-xs-12 text-center">

          <table class="table table-bordered table-hover table-striped" style="max-width: 600px; margin: 30px auto; font-size:18px;">
            <thead>
              <tr>
                <th class="text-center">
                  <a href="" ng-click="model.cableSortType = 'barcode'; model.cableSortReverse = !model.cableSortReverse">
                    <strong>Cable</strong>
                    <span ng-show="model.cableSortType == 'barcode' && model.cableSortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="model.cableSortType == 'barcode' && !model.cableSortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="text-center">
                  <a href="" ng-click="model.cableSortType = 'inStock'; model.cableSortReverse = !model.cableSortReverse">
                    <strong>On Shelf</strong>
                    <span ng-show="model.cableSortType == 'inStock' && model.cableSortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="model.cableSortType == 'inStock' && !model.cableSortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="text-center">
                  <a href="" ng-click="model.cableSortType = 'timestamp'; model.cableSortReverse = !model.cableSortReverse">
                    <strong>Last Scan</strong>
                    <span ng-show="model.cableSortType == 'timestamp' && model.cableSortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="model.cableSortType == 'timestamp' && !model.cableSortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cable in model.cableInventory | orderBy:model.cableSortType:model.cableSortReverse " ng-if="cable.id">
                <td> <strong> {{ cable.barcode }} </strong> </td>
                <td> {{cable.inStock}}  </td>
                <td> {{cable.timestamp | date:'medium'}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>

      <!-- accessories tab -->
      <uib-tab heading="Accessories">

        <div class="col-xs-12 inventory-accessory-filter-container">
          <div class="col-xs-12 text-center">
            <h3>Filter</h3>
          </div>

          <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
            <select class="form-control" ng-model="model.accessoryFilter" ng-options="x for x in model.accessoryCategories" ng-change="removeFilter(model.accessoryFilter)">
              <option value=""> Category </option>
            </select>
          </div>
        </div>

        <div class="col-xs-12 text-center">
          <table class="table table-condensed tableBorder table-bordered table-hover" style="max-width: 600px; margin: 0 auto;">
            <thead class="tableHead">
              <tr>
                <th class="text-center">
                  <a href="" ng-click="model.accessorySortType = 'barcode'; model.accessorySortReverse = !model.accessorySortReverse">
                    Accessory
                    <span ng-show="model.accessorySortType == 'barcode' && model.accessorySortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="model.accessorySortType == 'barcode' && !model.accessorySortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="text-center">
                  <a href="" ng-click="model.accessorySortType = 'inStock'; model.accessorySortReverse = !model.accessorySortReverse">
                    On Shelf
                    <span ng-show="model.accessorySortType == 'inStock' && model.accessorySortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="model.accessorySortType == 'inStock' && !model.accessorySortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="text-center">
                  <a href="" ng-click="model.accessorySortType = 'category'; model.accessorySortReverse = !model.accessorySortReverse">
                    Categories
                    <span ng-show="model.accessorySortType == 'category' && model.accessorySortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="model.accessorySortType == 'category' && !model.accessorySortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="text-center">
                  <a href="" ng-click="model.accessorySortType = 'timestamp'; model.accessorySortReverse = !model.accessorySortReverse">
                    Last Scan
                    <span ng-show="model.accessorySortType == 'timestamp' && model.accessorySortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="model.accessorySortType == 'timestamp' && !model.accessorySortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="tableItems" ng-repeat="accessory in model.accessoryInventory | orderBy:model.accessorySortType:model.accessorySortReverse | filter:{category : model.accessoryFilter}" ng-if="accessory.id">
                <td class="text-center"> <strong> {{ accessory.barcode }} </strong> </td>
                <td class="text-center"> {{ accessory.inStock }}  </td>
                <td class="text-center"> {{ accessory.category }} </td>
                <td class="text-center"> {{ accessory.timestamp | date:'medium' }} </td>
              </tr>
            </tbody>
          </table>
        </div>

      </uib-tab>
    </uib-tabset>
  </div>

  <!-- units view -->
  <div ng-if="model.view === 'units'">

    <div class="col-xs-12 stockButtons" ng-if="adminLoggedIn" style="margin-bottom: 10px;">
      <button ng-if="!model.stockEditable" ng-click="model.stockEditable = true">Edit Stock List</button>
      <button ng-if="model.stockEditable" ng-click="saveStockEdits()">Save Changes</button>
      <button ng-if="model.stockEditable" ng-click="cancelEdit()">Cancel</button>
    </div>

    <!-- inventory checker -->

    <div id="inventoryCheck" class="row" ng-show="!inventoryList && model.view === 'units'" style="max-width: 600px; margin: 0 auto;">
      <div class="row text-center">
        <button class="resetButton" ng-click="resetScans()" href="">Reset</button>
      </div>

      <div  hl-sticky="" offset-top="100">
        <div class="row text-center">
          <input id="scanInput" class="barcode-input" ng-model="barcodeChecker.barcodeNum" ng-model-options="{debounce : 300}" autofocus/>
        </div>
        <div class="row text-center hideContainer">
          <input class="hideCheckbox" id="checkBox" type="checkbox" ng-model="hideFound"> Hide Scanned Units
        </div>
      </div>

      <!-- Need to update this -->
      <!-- <div class="row" ng-repeat="unitType in products">
        <div ng-attr-id="{{ 'unitType-' + unitType }}" class="col-xs-12 invCheckLabels">
          {{unitType}}
        </div>
        <div class="col-xs-3" ng-repeat="unit in shelfUnits | filter:categorySort(unitType)" ng-hide="hideFound && unit.status" style="color: white;">
          <span ng-class="{'found': unit.status}">{{unit.barcode}}</span>
        </div>
      </div> -->

      <div id="notInSystem" class="row">
        <div ng-show="unlistedUnits.length">
          <div class="col-xs-12 invCheckLabels" style="color: red; border-bottom: 1px solid red;">
            Not In System
          </div>
          <div class="col-xs-3" ng-repeat="barcode in unlistedUnits" style="color: white;">
            {{barcode}}
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <button ng-click="submitTest()"> Submit </button>
      </div>

    </div>
  </div>

  </div>

</div>
