.title-container{
  z-index: -1;
}

.table-container{
  max-width: 600px;
}

.removeAll{
  color: #fff000;
  font-size: 20px;
  cursor: pointer;
}

.btn-container{
  height: 150px;
  margin-top: 100px;
}

/*=========================================second tab items=======================================*/
.stockButtons button{
  font-size: 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 15px;
}

.listHeaders{
  margin-top: 30px;
  color: #00ffff;
  font-size: 18px;
}
.checkTitle{
  color: #00FFFF;
  font-weight: 300;
  font-size: 60px;
  margin-top: 50px;
}
.checkSubTitle{
  color: #00FFFF;
  font-size: 20px;
  font-weight: 300;
}

.loginButton{
  font-style: italic;
  color: #00FFFF;
}

/*loading animation*/
.loading{
  color: #00FFFF;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #00FFFF; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}



.pendingItems{
  color: #00FFFF;
  font-size: 27px;
  border-bottom: 1px solid gray;

}
.pendingCode{
  text-align: center;
  font-weight: 600;
  color: white;
}
.pendingStatus{
  text-align: center;
}
.checkBarcodeSubtitles{
  color: #00FFFF;
}

.unitNotes{
  font-size: 18px;
  color: white;
  text-align: left;
}

.checkInBtn{
  background-color: #33FF00;
  width: 137px;
  font-weight: 600;
  font-size: 27px;
  border-radius: 20px;
  margin-top: 14px;
}

.removeTest{
  float: right;
  z-index: 3;
  position: absolute;
  right: 5px;
  top: 5px;
  color: red;
  cursor: pointer;
}

.checkOutOptions{
  font-weight: 600;
  font-size: 24px;
  border-radius: 20px;
  margin: 5px 0px;
  width: 130px;
  background-color: #FFFF00;
}

.bottomContainer{
  height: 72px;

}
.test{
padding-top: 26px;
}

.checkOutTitle{
  text-align: center;
  font-size: 15px;
  color: white;
}

/*color options for different statuses*/
.shelf {
  color: #33FF00;
}
.other{
  color: #E6FB04;
}
.purchase {
  color: #0062FF;
}
.unchecked{
  color: #FF0099;
}

.Checked.In{
  background-color:  #33FF00;
  color: black;
}

.Checked.Out{
  background-color: #FF0099;
  color: black;
}

.Saved{
  background-color: #33FF00;
  color: black;
}

.adminButtons button {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 5px;
}

button:focus {
  outline: none;
}

.invCheckLabels{
  text-align: left;
  color: #ff00cc;
  font-size: 30px;
  border-bottom: 1px solid #ff00cc;
  margin-top: 20px;
}

.found{
  color: #00ff00;
  transition: color 2s ease;
  font-weight: 600;
}
.hideCheckbox{
  background-color: red;
}
.hideContainer{
  color: #ff00cc;
}

.resetButton{
  border: 1px solid #ff00cc;
  background-color: black;
  color: #ff00cc;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.resetButton:hover{
  background-color: #ff00cc;
  color: black;
}

.invSelect{
  text-align: center;
  font-size: 30px;
  background-color: black;
  border: 1px solid #ff00cc;
  color: #ff00cc;
  width: 250px;
}

.invFilterTitle{
  color: #ff00cc;
  font-size: 30px;
}


/*-------------------------------loaner inventory------------------------*/

.listSelector.activeList{
  border-bottom: 2px solid #ff6600;
}

.listSelector:focus{
  outline: none;
}

.panel-group .panel{
  border-radius: 0px;
}

.panel-heading{
  padding: 0px;
}

.readyToLoan{
  color: #33FF00;
  font-weight: 600;
}
.checkedOut{
  color: red;
  font-weight: 600;

}
.needsQA{
  font-weight: 600;
  color: #CCFF00;
}

.update {
  font-weight: 600;
  color: white;
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body{
  border-top: none;
}

.vis-hidden{
  visibility: hidden;
}

.unitItems{
  display: inline-block;
}

/* keypad modal */
.keypad {
  margin: 10px auto;
}

.keypad tbody {
  background-color: #fff;
}

.keypad td {
    padding: 5px 2px;
}

.keypad button{
  font-size: 30px;
  color: white;
  background-color: black;
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px lightgray;
}

.keypad button:active {
  background-color: black;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.modal-content {
  background-color: transparent;
}

.keypad-modal {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}

.edit-unit {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}


.keypad .entryBtn {
  font-size: 30px;
  font-weight: 600;
  color: white;
  width: 150px;
}

.entryBtn#enter {
  background-color: green;
}

.entryBtn#cancel {
  background-color: red;
}

.numberEntry {
  width: 250px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 0px auto;
  font-size: 50px;
  font-weight: 600;
  border-radius: 10px;
  border: 5px solid white;
  height: 101px;
}

.newNumber {
  font-weight: 600;
  font-size: 50px;
  color: #33ff00;
}

/*animations------------------------------------------------------------------*/

/* The typing effect */
@keyframes authTyping {
  from { width: 0 }
  to { width:23% }
}
@keyframes typing {
  from { width: 0 }
  to { width:10% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: inherit; }
}

/*media queries---------------------------------------------------------------*/

@media only screen and (max-device-width: 767px) {
  .numEntry{
    letter-spacing: 1px;
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .prodEntry{
    font-size: 30px;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }

  .generateBars{
    padding: 10px;
  }
  .noBars{
    padding: 10px;
  }

  /*li>.activeState:after {
  	width: 0px !important;
    background: transparent;
    transition: none !important;
  }*/
}
